<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li class="li-a">
        <a routerLink="/observable/from-event">from-event</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/interval">Interval</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/of-from">of-from</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/toArray">toArray</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/custom-observable">custom observable</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/map">Map</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/pluck">pluck</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/filter">filter</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/take">take & takeUntil</a>
      </li>
    </ul>
  </div>
</div>
