<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li class="li-a">
        <a routerLink="/observable/list/from-event">from-event</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/list/interval">Interval</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/list/of-from">of-from</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/list/toArray">toArray</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/list/custom-observable">custom observable</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/list/map">Map</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/list/pluck">pluck</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/list/filter">filter</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/list/take">take & takeUntil</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/list/debounce-distinct">Debounce & DistinctUntill</a>
      </li>
      <li class="li-a">
        <a routerLink="/observable/list/subject">Subject & Behavior Subject</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
