<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li>
        <a routerLink="/observable/from-event">from-event</a>
      </li>
      <li>
        <a routerLink="/observable/interval">Interval</a>
      </li>
      <li>
        <a routerLink="/observable/of-from">of-from</a>
      </li>
      <li>
        <a routerLink="/observable/from-event">from-event</a>
      </li>
      <li>
        <a routerLink="/observable/from-event">from-event</a>
      </li>
      <li>
        <a routerLink="/observable/from-event">from-event</a>
      </li>
      <li>
        <a routerLink="/observable/from-event">from-event</a>
      </li>
    </ul>
  </div>
</div>
