<strong>Open Console</strong>
<!-- <div class="row">
  <div class="col-6">
    <strong>1) Manual</strong>
    <hr>
    <ul class="list">
      <li>Angular</li>
      <li>Vue</li>
      <li>React</li>
    </ul>
  </div>
  <div class="col-6">
    <strong>2) Custom observable interval</strong>
    <hr>
    <ul class="list">
      <li>Angular</li>
      <li>Vue</li>
      <li>React</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-12">
      <strong>3) Random Name</strong>
      <hr>
      <p class="m-2 bg-light py-2 px-2 mb-4 border rounded">Random Names: 'Kishan','Jay','Pritesh','Parth','Jaydip'</p>
    </div>
  </div>
  <hr>
  <div>
    <p>Current name: Kishan</p>
    <p class="badge bg-success">Success</p>
  </div>
</div> -->
