<div class="my-4 mx-4">
  <h2 routerLink="/observable" class="title">Observable</h2>
  <div class="row">
    <div class="col-md-12">
      <ul class="list">
        <li class="li-a">
          <a routerLink="from-event">from-event</a>
        </li>
        <li class="li-a">
          <a routerLink="interval">Interval</a>
        </li>
        <li class="li-a">
          <a routerLink="of-from">of-from</a>
        </li>
        <li class="li-a">
          <a routerLink="toArray">toArray</a>
        </li>
        <li class="li-a">
          <a routerLink="custom-observable">custom observable</a>
        </li>
        <li class="li-a">
          <a routerLink="map">Map</a>
        </li>
        <li class="li-a">
          <a routerLink="pluck">pluck</a>
        </li>
        <li class="li-a">
          <a routerLink="filter">filter</a>
        </li>
        <li class="li-a">
          <a routerLink="take">take & takeUntil</a>
        </li>
        <li class="li-a">
          <a routerLink="debounce-distinct">Debounce & DistinctUntill</a>
        </li>
        <li class="li-a">
          <a routerLink="subject">Subject & Behavior Subject</a>
        </li>
        <li class="li-a">
          <a routerLink="concat">Concat</a>
        </li>
        <li class="li-a">
          <a routerLink="merge">Merge</a>
        </li>
      </ul>
    </div>
  </div>
</div>
