<div class="my-4 mx-4">
  <h2 routerLink="/observable" class="title">Observable</h2>
  <div class="row">
    <div class="col-md-12">
      <ul class="list">
        <li routerLink="from-event" class="li-a">
          <p>from-event</p>
        </li>
        <li routerLink="interval" class="li-a">
          <p>Interval</p>
        </li>
        <li routerLink="of-from" class="li-a">
          <p>of-from</p>
        </li>
        <li routerLink="toArray" class="li-a">
          <p>toArray</p>
        </li>
        <li routerLink="custom-observable" class="li-a">
          <p>custom observable</p>
        </li>
        <li routerLink="map" class="li-a">
          <p>Map</p>
        </li>
        <li routerLink="pluck" class="li-a">
          <p>pluck</p>
        </li>
        <li routerLink="filter" class="li-a">
          <p>filter</p>
        </li>
        <li routerLink="take" class="li-a">
          <p>take & takeUntil</p>
        </li>
        <li routerLink="debounce-distinct" class="li-a">
          <p>Debounce & DistinctUntill</p>
        </li>
        <li routerLink="subject" class="li-a">
          <p>Subject & Behavior Subject</p>
        </li>
        <li routerLink="concat" class="li-a">
          <p>Concat</p>
        </li>
        <li routerLink="merge" class="li-a">
          <p>Merge</p>
        </li>
      </ul>
    </div>
  </div>
</div>
