<div class="my-4 mx-4">
  <h2>Of and From</h2>
  <hr />

  <strong>1) Of example</strong>
  <br>
  <p><strong>Arguments:</strong> ('Kishan', 'Rajeshbhai', 'Vaghamashi')</p>
  <div class="row">
    <div class="col-md-4  col-lg-4 col-sm-4">
      <p>Output:</p>
      <div class="card">
        <div class="card-body">
          <ul id="liContainer"></ul>
        </div>
      </div>
    </div>
  </div>
  <br>

  <strong>2) From example</strong>
  <br>
  <p><strong>Arguments:</strong> ['Kishan', 'Rajeshbhai', 'Vaghamashi']</p>
  <div class="row">
    <div class="col-md-4  col-lg-4 col-sm-4">
      <p>Output:</p>
      <div class="card">
        <div class="card-body">
          <ul id="liContainer2"></ul>
        </div>
      </div>
    </div>
  </div>

  <strong>3) From example - for STRING</strong>
  <br>
  <p><strong>Arguments:</strong>'Kishan Vaghamashi'</p>
  <div class="row">
    <div class="col-md-4  col-lg-4 col-sm-4">
      <p>Output:</p>
      <div class="card">
        <div class="card-body">
          <ul id="liContainer3"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
